 <!DOCTYPE html>
<html lang="en-US">
<head>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 <script src="homeController.js"></script>
</head>
<body>
     <div ng-app="myApp" ng-controller="nicController">
        <form>
         Enter NIC: <input type="text" ng-model="nic"><br>
         <input type="submit" value"Get Details" ng-click="submit()">
        </form>
         
         <div>
             Birthday : {{year}} {{month}} {{day}} <br>
             Gender   : {{gender}}
         </div>
     </div>

</body>
</html>